![example](images/director_shot.jpeg)

# Project Title

**Authors:** Susan Nduta Kanyora.
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [2]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.39.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.24.2)
Requirement already satisfied: packaging>=20.0 in c:\users\susan\appdata\roaming\python\python311\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\susan\appdata\roaming\python\python311\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\susan\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (0.12.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.24.2)
Requirement already satisfied: pandas>=0.25 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\susan\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\susan\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\susan\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\susan\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [4]:
# Import standard packages
import numpy as np
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile

In [5]:
#To explore the data
with zipfile .ZipFile('zippedData/im.db.zip') as my_zip:
    zipfile.ZipFile.extractall(my_zip,path='ZippedData')

In [6]:
#Connecting the database
conn =sqlite3.connect('ZippedData/im.db')

In [7]:
! ls zippedData

'ls' is not recognized as an internal or external command,
operable program or batch file.

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [8]:
# Here you run your code to clean the data
pd.read_sql("""
SELECT *
FROM sqlite_schema
WHERE type = 'table'
""" , conn)

,type,name,tbl_name,rootpage,sql
0,table,movie_basics,movie_basics,2,"CREATE TABLE ""movie_basics"" (\n""movie_id"" TEXT..."
1,table,directors,directors,3,"CREATE TABLE ""directors"" (\n""movie_id"" TEXT,\n..."
2,table,known_for,known_for,4,"CREATE TABLE ""known_for"" (\n""person_id"" TEXT,\..."
3,table,movie_akas,movie_akas,5,"CREATE TABLE ""movie_akas"" (\n""movie_id"" TEXT,\..."
4,table,movie_ratings,movie_ratings,6,"CREATE TABLE ""movie_ratings"" (\n""movie_id"" TEX..."
5,table,persons,persons,7,"CREATE TABLE ""persons"" (\n""person_id"" TEXT,\n ..."
6,table,principals,principals,8,"CREATE TABLE ""principals"" (\n""movie_id"" TEXT,\..."
7,table,writers,writers,9,"CREATE TABLE ""writers"" (\n""movie_id"" TEXT,\n ..."

In [9]:
movies_ratings = None
movies_ratings = pd.read_sql("""
SELECT *
FROM movie_basics
LEFT JOIN movie_ratings
    USING(movie_id)
""" , conn)

movies_ratings

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0
...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,NaN,NaN
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,NaN,NaN
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,NaN,NaN
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None,NaN,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,NaN,NaN

In [10]:
movies_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
 6   averagerating    73856 non-null   float64
 7   numvotes         73856 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 8.9+ MB

In [28]:
#Inspecting for missing values
movies_ratings.isna().sum()

movie_id               0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
averagerating      72288
numvotes           72288
dtype: int64

In [11]:
#Eliminating titles with no votes or ratings
movies_ratings.dropna(subset=['numvotes'], inplace=True)

In [12]:
#Checking if the missing values were eliminated
print(movies_ratings['numvotes'].isna().sum())

0

In [13]:
#Eliminating titles with no genre listed
movies_ratings.dropna(subset=['genres'], inplace=True)

In [14]:
#Checking for duplicated values
movies_ratings.duplicated().sum()

0

In [15]:
movies_ratings.duplicated(subset='original_title').sum()

2707

In [18]:
duplicate_movies = movies_ratings[movies_ratings.duplicated(subset=['original_title', 'runtime_minutes', 'start_year'], keep=False)]
print(duplicate_movies)

          movie_id                    primary_title  \
2632    tt10272966  Raggarjävlar (Swedish Greasers)
2658    tt10275936  Raggarjävlar (Swedish Greasers)
8271     tt1494821                         The Gift
11830    tt1644694                         The Gift
12125    tt1651148                     The Last Act
12261    tt1655442                       The Artist
12599    tt1666345                          Transit
12984    tt1674217                          Transit
15931    tt1753521                      Blood Money
16400    tt1758610                    Unconditional
16923    tt1773499                           Inside
19111    tt1825978                       The Artist
23887    tt1967651               Unconditional Love
24139    tt1977822                           Inside
33380    tt2246595                      Blood Money
33608    tt2251541                       The Summit
37698    tt2363471                       The Summit
43399    tt2583866              Eso que llaman amor
47276    tt2805110               Rise of the Undead
47280    tt2805202               Rise of the Undead
50941    tt3019098                     The Last Act
52255    tt3096948                    Opening Night
72877    tt4156972                    Opening Night
73546    tt4191350                      A Courtship
80877    tt4649330              Eso que llaman amor
86805    tt5037358                      Almost Dead
88715    tt5136180                      A Courtship
92236    tt5333750              The Wonderful Digby
103321   tt6052236              The Wonderful Digby
103646   tt6073736                      Almost Dead
104506   tt6111634                         Together
108267   tt6352592                   Happy New Year
109186   tt6417762                   Happy New Year
114406   tt6765756                          Foxtrot
116144   tt6896536                          Foxtrot
140322   tt9097086                         Together

                         original_title  start_year  runtime_minutes  \
2632    Raggarjävlar (Swedish Greasers)        2019             70.0
2658    Raggarjävlar (Swedish Greasers)        2019             70.0
8271                           The Gift        2010              NaN
11830                          The Gift        2010              NaN
12125                      The Last Act        2012              NaN
12261                        The Artist        2011            100.0
12599                           Transit        2010             80.0
12984                           Transit        2010             80.0
15931                       Blood Money        2012            109.0
16400                     Unconditional        2012             92.0
16923                            Inside        2012             85.0
19111                        The Artist        2011            100.0
23887                     Unconditional        2012             92.0
24139                            Inside        2012             85.0
33380                       Blood Money        2012            109.0
33608                        The Summit        2012             95.0
37698                        The Summit        2012             95.0
43399               Eso que llaman amor        2015              NaN
47276                Rise of the Undead        2013             70.0
47280                Rise of the Undead        2013             70.0
50941                      The Last Act        2012              NaN
52255                     Opening Night        2016             90.0
72877                     Opening Night        2016             90.0
73546                       A Courtship        2015             71.0
80877               Eso que llaman amor        2015              NaN
86805                       Almost Dead        2016             85.0
88715                       A Courtship        2015             71.0
92236               The Wonderful Digby        2016             82.0
103321              The Wonderful Digby        2016             82.0
103646                      Almost Dead        2016             85.0
104506                         Together        2018             84.0
108267                   Happy New Year        2017              NaN
109186                   Happy New Year        2017              NaN
114406                          Foxtrot        2017            113.0
116144                          Foxtrot        2017            113.0
140322                         Together        2018             84.0

                              genres  averagerating  numvotes
2632                     Documentary            6.9      17.0
2658                     Documentary            6.9      47.0
8271                           Drama            7.8      12.0
11830                Animation,Drama            5.9       7.0
12125         Action,Adventure,Crime            7.2      30.0
12261           Comedy,Drama,Romance            7.9  217184.0
12599                          Drama            6.9      58.0
12984   Biography,Documentary,Family            6.7      13.0
15931                Action,Thriller            3.3     531.0
16400          Biography,Crime,Drama            7.2    4418.0
16923          Crime,Horror,Thriller            6.4      14.0
19111                       Thriller            6.8       6.0
23887                 Drama,Thriller            5.6     660.0
24139                         Horror            4.0     397.0
33380          Action,Drama,Thriller            5.2     881.0
33608                    Documentary            6.6      23.0
37698          Adventure,Documentary            6.9    4147.0
43399                          Drama            7.0       7.0
47276                         Horror            5.7      33.0
47280                         Action            4.2      20.0
50941                       Thriller            5.7       6.0
52255           Comedy,Drama,Romance            6.9      74.0
72877                 Comedy,Musical            6.3    2299.0
73546            Documentary,Romance            6.9      17.0
80877                          Drama            6.7      32.0
86805          Drama,Horror,Thriller            3.9      87.0
88715                    Documentary            6.3       7.0
92236                    Documentary            8.3       7.0
103321   Biography,Documentary,Music            7.7       6.0
103646                        Horror            1.9      17.0
104506                       Romance            8.5      33.0
108267                       Romance            7.7       7.0
109186                 Drama,Romance            7.4      29.0
114406                       Mystery            6.0       9.0
116144                         Drama            7.4    4910.0
140322                         Drama            7.2      35.0

In [21]:
#Sorting the dataset by vote count
movies_ratings_sorted = movies_ratings.sort_values(by='numvotes', ascending=False, inplace=True)
print(movies_ratings_sorted)

None

In [22]:
#Eliminating the duplicates
movies_ratings.drop_duplicates(subset=['original_title', 'runtime_minutes', 'start_year'], keep='first')

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
7066,tt1375666,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066.0
6900,tt1345836,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769.0
311,tt0816692,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",8.6,1299334.0
20342,tt1853728,Django Unchained,Django Unchained,2012,165.0,"Drama,Western",8.4,1211405.0
356,tt0848228,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,1183655.0
...,...,...,...,...,...,...,...,...
58705,tt3417906,The Nose,The Nose,2013,52.0,Documentary,8.6,5.0
93803,tt5465608,Extramaterial,Extramaterial,2016,59.0,Documentary,6.6,5.0
81438,tt4681636,Free Spaces,Free Spaces,2015,60.0,Documentary,9.0,5.0
48978,tt2915328,Abou Al Oureef,Abou Al Oureef,2014,96.0,Comedy,5.2,5.0
92943,tt5374392,Body Farm,Body Farm,2018,NaN,Horror,9.0,5.0

In [23]:
movies_ratings.head()

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
7066,tt1375666,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066.0
6900,tt1345836,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769.0
311,tt0816692,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",8.6,1299334.0
20342,tt1853728,Django Unchained,Django Unchained,2012,165.0,"Drama,Western",8.4,1211405.0
356,tt0848228,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,1183655.0

In [24]:
#Creating a new dataframe
clean_genres = movies_ratings.copy()

In [25]:
#Chenging from string to a list 
clean_genres['genres'] = clean_genres['genres'].str.split(',')
clean_genres.head(6)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
7066,tt1375666,Inception,Inception,2010,148.0,"[Action, Adventure, Sci-Fi]",8.8,1841066.0
6900,tt1345836,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"[Action, Thriller]",8.4,1387769.0
311,tt0816692,Interstellar,Interstellar,2014,169.0,"[Adventure, Drama, Sci-Fi]",8.6,1299334.0
20342,tt1853728,Django Unchained,Django Unchained,2012,165.0,"[Drama, Western]",8.4,1211405.0
356,tt0848228,The Avengers,The Avengers,2012,143.0,"[Action, Adventure, Sci-Fi]",8.1,1183655.0
545,tt0993846,The Wolf of Wall Street,The Wolf of Wall Street,2013,180.0,"[Biography, Crime, Drama]",8.2,1035358.0

In [28]:
#
genres_all = set()
genres_column = clean_genres['genres']

for glist in genres_column:
    for g in glist:
        genres_all.add(g)
    
print(genres_all)

{'Western', 'News', 'Sci-Fi', 'Romance', 'Fantasy', 'Horror', 'Mystery', 'Short', 'Action', 'War', 'Family', 'Reality-TV', 'Game-Show', 'Biography', 'Comedy', 'Crime', 'History', 'Adventure', 'Thriller', 'Documentary', 'Adult', 'Music', 'Drama', 'Sport', 'Musical', 'Animation'}

In [29]:
expl_clean_genres = clean_genres.explode('genres')
expl_clean_genres.head()

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
7066,tt1375666,Inception,Inception,2010,148.0,Action,8.8,1841066.0
7066,tt1375666,Inception,Inception,2010,148.0,Adventure,8.8,1841066.0
7066,tt1375666,Inception,Inception,2010,148.0,Sci-Fi,8.8,1841066.0
6900,tt1345836,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,Action,8.4,1387769.0
6900,tt1345836,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,Thriller,8.4,1387769.0

In [30]:
expl_clean_genres['genres'].value_counts()

Drama          30788
Documentary    17753
Comedy         17290
Thriller        8217
Horror          7674
Action          6988
Romance         6589
Crime           4611
Adventure       3817
Biography       3809
Family          3412
Mystery         3039
History         2825
Sci-Fi          2206
Fantasy         2126
Music           1968
Animation       1743
Sport           1179
War              853
Musical          721
News             579
Western          280
Reality-TV        17
Adult              3
Game-Show          2
Short              1
Name: genres, dtype: int64

In [32]:
genres_of_interest = ['genre']

# Create a boolean mask for the desired genres
genre_mask = clean_genres['genres'].apply(lambda x: any(item for item in genres_of_interest if item in x))

# Use the boolean mask to filter the DataFrame and extract the movie IDs for each genre of interest
genre_movies = {}
for genre in genres_of_interest:
    genre_movies[genre] = clean_genres.loc[genre_mask & (clean_genres['genres'].apply(lambda x: genre in x))]

# Print the resulting movie ID lists for each genre of interest
for genre in genres_of_interest:
    print(genre, 'movies:', genre_movies[genre])

genre movies: Empty DataFrame
Columns: [movie_id, primary_title, original_title, start_year, runtime_minutes, genres, averagerating, numvotes]
Index: []

In [33]:
clean_genres['genres'].value_counts()

[Drama]                           11612
[Documentary]                     10313
[Comedy]                           5613
[Horror]                           2692
[Comedy, Drama]                    2617
                                  ...
[Horror, Music]                       1
[Biography, Crime]                    1
[Comedy, Documentary, Western]        1
[Comedy, History, Mystery]            1
[Comedy, Documentary, Fantasy]        1
Name: genres, Length: 923, dtype: int64

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***